/**** TOPO ****/
body{
	background: #c97806; /*url("imagens/fundo.gif");*/
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}	

header{
	background: black url("imagens/cabecalho.png") repeat-x;
	height: 100px;
	text-align: center;
	color: white;
	padding-top: 5px;
	margin-bottom: 20px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

header a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	text-shadow: 1.5px 1.5px #c97806;
}

header a:hover{
	/*color:  #8f1d4a;*/
}

section a{
	color: orange;
}

/********container********/

/****bio****/

#bio{
	display: grid;
	width: 60%;
	max-width: 1080px;
	min-width: 400px;
	margin: 20px auto 10px auto;
	align-items: center;
	justify-items: center;
}

#foto{
	background-image: url("imagens/perfilcerto.jpg");
	background-repeat: no-repeat;
	width: 320px; 
  	height: 320px; 
  	border-radius: 50%; 
  	margin: 45px auto 10px auto;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#foto:hover{
	transform: scale(1.05);
	cursor: pointer;
}

#foto img{
	padding-bottom: 10px;
}

#resumo{
	margin-bottom: 30px;
}

#resumo h2{
	padding: 2px;
	text-align: center; 
	color: white;
	text-shadow: 2px 2px #5d5c5e;
}

#resumo p{
	text-align: justify;
	color: white;
	font-size: 1.15em;
	margin-bottom: 25px;
}

#projetos{
	background: white;
	width: 100%;
	display: flex;
	padding-bottom: 3px;
}

#tamanho{
	width: 1185px;
	margin: 0 auto;
}

.navegacao1{
	max-width: 550px;
	min-width: 500px;
	height: 500px;
	margin: 0px auto;
	padding: 0px 31px;
	float: left;
}

.navegacao1 h4{
	color: white;
	text-align: center;
}

.navegacao1 a{
	padding: 15px 15px;
	text-decoration: none;
	align-items: center;
}

.navegacao1 img{
	padding-bottom: 5px;
	margin-top: 50px;
	border-radius: 10px;
	/*box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.navegacao1 img:hover{
	transform: scale(1.1);
}

.icone{
	display: flex; 
	justify-content: center; 
	text-decoration: none; 
	color: white;
	height: 20px;
}

.icone img{
	box-shadow: none;
	margin-bottom: 30px;
}

.icone a{
	margin-top: 15px;
	padding-top: 15px;
	background: black;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.icone a:hover{
	background: orange;
	color: white;
	padding: -10px -10px;
}

/****** contatos *****/

#contatos{
	background: url("imagens/cabecalho.png");
	width: 100%;
	display: flex;
}

#contatos nav{
	color: white;
	max-width: 1080px;
	min-width: 500px;
	margin-top: 50px;
	margin: 25px auto 25px auto;
	text-align: center;
	padding: 0 25px 0 25xp;

}

#contatos nav a{
	float: left;
	text-decoration: none;
	color: #818285;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
	align-items: center;
}

#contatos a:hover{
	color: #c97806;
}

.titulo{
	z-index: 1;
	display: flex;
	justify-content: center;
	color: white;
	background: black;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: auto;
	padding-right: auto;
	text-shadow: 2px 2px #5d5c5e;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

